@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .whole{
      width: 100%;
      height: 100%;
    }
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.839)),url(background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}
.content{
    background:transparent;
    height: 100%;
    padding: 75px 100px;
    width: 100%;
}
p{
    font-family: 'poppins' , sans-serif;
    font-size: 18px;
    width: 100%;
    line-height: 35px;
    padding-top: 20px;
    text-align: justify;
}
.content2{
    background-image: linear-gradient(rgba(229, 230, 229, 0.71),rgba(225, 225, 221, 0.928)),url(images/sl.png);
   height: 775px;
   width: 100%;
   background-repeat: no-repeat;
   display: flex;
   gap: 90px;
   padding: 50px 100px;
}
footer{
    background-color: #404040;
    height: 15rem;
}
nav{
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
}
nav .name_of_school{
    color:green;
    font-family:'poppins' , sans-serif;
    font-weight: 900;
    padding: 0 2rem;
    flex: 1;
    font-size: 25px;
}
.school_logo{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    
}
nav a{
    
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem;
}
nav a:hover{
    background-color: #a6a6a6;
}
ul{
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 72px;
}
ul li{
    list-style: none;
    padding: 15px;
}
ul li a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: 0.5s ease;
}
ul:hover li a {
    color: rgb(0, 0, 0);
}
ul:hover li a:not(:hover) {
    color: rgb(0, 0, 0);
    opacity: 0.3;
    filter: blur(1px);
}
.ltc{
    list-style: none;
    display: flex;
    font-size: 40px;
    gap: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
}
footer{
    background-color:green;
}
.term{
  position: absolute;
  padding: 50px ;
  padding-right: 100px;
  right: 10px;
  font-family: 'poppins' , sans-serif;
  font-size: 18px;
}
.term .tu{
color: whitesmoke;
text-decoration: none;
}
.term .tu:hover{
    color: whitesmoke;
    text-decoration: underline;
    }
.fpic{
height: 120%;
width: 100%;
}
.facebook{
   font-size: 50px;
   color: rgb(0, 0, 0);
   transition: 0.5s;
}
.facebook:hover{
    background: -webkit-linear-gradient(#00B2FF, #006AFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
}
.mess{
    font-size: 50px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
 }
 .mess:hover{
    background: -webkit-linear-gradient(#00B2FF, #006AFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
 }




