* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: back;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes back{
    0%{background-image: url(images/background3.jpg);}
    50%{background-image: url(images/hb.jpg);}
    100%{background-image: url(images/background1.jpg);}
}
nav{
    width: 100vw;
    height: 80px;
    background:transparent;
    display: flex;
    align-items: center;
   
}
nav .name_of_school{
    color:#fff;
    font-family:'poppins' , sans-serif;
    font-weight: 900;
    padding: 0 2rem;
    flex: 1;
    font-size: 25px;
}
.school_logo{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav a{
    
    color: whitesmoke;
    text-decoration: none;
    font-family: 'poppins' , sans-serif;
    padding: 1rem 1rem;
}
nav a:hover{
    background-color: #a6a6a6;
}
ul{
    font-family: 'poppins' , sans-serif;
    display: flex;
    gap: 60px;
}
ul li{
    list-style: none;
    padding: 15px;
}
ul li a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 0.5s ease;
}
ul:hover li a {
    color: rgb(0, 0, 0);
}
ul:hover li a:not(:hover) {
    color: rgb(255, 255, 255);
    opacity: 0.3;
    filter: blur(1px);
}
.dropdown{
    position: relative;
    display: inline;
}


.ltc{
    list-style: none;
    display: flex;
    font-size: 40px;
    gap: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
}
.school_name{
    height: 450px;
    width: 100%;
    padding: 50px;
    
    animation-name: sn;
    animation-duration: 1s;
    animation-direction: normal;
}
@keyframes sn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.w{
    color: white;
    font-size: 30px;
    font-family: 'poppins' , sans-serif;
    letter-spacing: 3px;
    
}
h2{
    color: white;
    font-size: 70px;
    font-weight: 900;
    font-family: 'poppins' , sans-serif;
    -webkit-text-stroke: green 5px;
}

.pub{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    font-family: 'poppins' , sans-serif;
    
}
.app{
    font-family: 'poppins' , sans-serif;
    background:transparent;
    padding: 10px 70px 10px 70px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius:20px ;
    border: 2px solid yellow;
    transition: 0.7s;
}
.app:hover{
    font-family: 'poppins' , sans-serif;
    background-color:green;
    padding: 10px 70px 10px 70px;
    color:  #ffc107;
    text-decoration: none;
    transition: 0.7s;
}
.content{
    background-image: url(images/er.png);
    background-repeat: no-repeat;
    height: 68%;
    width: 100%;
}
iframe{
    height: 80%;
    width: 100%;
}


.ev{
height: 100%;
will-change: 100%;
}
.main-nav{
    position: absolute;
    top: 225%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
}
.main-nav li{
    list-style: none;
    position: absolute;
    width: 200px;
   height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: 0.5s;
    margin: -100px;
    overflow: hidden;
    opacity: 0.6;
}
.main-nav li:hover{
    opacity: 1;
}
.main-nav li.item1{
    top: 0;
    left: 0;
}
.main-nav li.item2{
    bottom: 0;
    left: 25%;
}
.main-nav li.item3{
    top: 0;
    left: 50%;
}
.main-nav li.item4{
    bottom: 0;
    left: 75%;
}
.main-nav li.item5{
    top: 0;
    left: 100%;
}
.main-nav li.bg{
    width:100%;
    height: 100%;
    transform: scale(1.1);
}
footer{
        background-color:green;
    }
    .term{
        position: absolute;
        padding: 50px ;
        padding-right: 100px;
        right: 10px;
        font-family: 'poppins' , sans-serif;
        font-size: 18px;
      }
      .term .tu{
      color: whitesmoke;
      text-decoration: none;
      }
      .tu:hover{
        text-decoration: underline;
      }
.fpic{
    height: 100%;
    width: 100%;
}
.con{
   position: absolute;
}
.cu{
    color: white;
}


 
